@import url('https://fonts.googleapis.com/css?family=Geo:400,400i|Mouse+Memoirs&display=swap');
header {
    background-color: teal;
    font-family: "Mouse Memoirs", sans-serif;
color: #000;
    text-align: center;

}
body{
    font-family: 'Geo', sans-serif;
    text-indent: 1.25em;
  font-size: 1.25em;
    background-image: url(https://www.inntravel.co.uk/getmedia/4cbff9e5-1cc4-4635-a5c1-de9a39213268/SwissView2-2?width=1858&height=871&ext=.jpg);
    background-size: 100%;  
}
.page-wrapper{ 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.intro{
    grid-column-start: 1;
    grid-column-end: 13;
}
.main{
    grid-column-start: 1; 
    grid-column-end: 10;
}
.sidebar{
    grid-column-start: 10; 
    grid-column-end: 13;
}
footer{
    text-align: center;
}